.fade {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0;

}
.fade.in {
    opacity: 1;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;


}

.fade .modal-sm {
    -webkit-transform: translate(0, -10%);
    -ms-transform: translate(0, -10%);
    -o-transform: translate(0, -10%);
    transform: translate(0, -10%);
}
.fade.in .modal-sm{
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0, 0%);
    -ms-transform: translate(0, 0%);
    -o-transform: translate(0, 0%);
    transform: translate(0, 0%);
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    overflow: hidden;
    height:100%;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background: rgba(0,0,0,.3);
}
.modal h4{
    font-size: 0.8em;
}
.bs-example-modal-sm {
    width: 100%;
    font-family: '茅禄鈥樏ぢ解??';
    font-size: 1.6em;
    border-bottom: 2px #ddd solid;
    margin-bottom: 20px;
    text-align: center;
    display:none;
}
.modal-sm { max-width:350px;
}
.modal-dialog {
    margin: 30px auto;

}
.modal-header {
    min-height: 16.43px;
    border-bottom: 0px solid #e5e5e5;
}

.modal-header img{
    display:block;
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-body {
    position: relative;
    padding: 15px;
}

.modal-body {
    position: relative;
    padding: 15px;
}
#mydel{position:absolute;width:30px;height:30px;line-height:30px;right:0px;top:0px;background:rgba(0,0,0,.85);color:#fff;border-radius:30px;font-family:Arial;font-size:20px;font-weight:100;text-align:center;}

.mybackbox{ position:absolute; z-index:9999; top:240px; width:146px; text-align:center; font-size:18px; font-family:微软雅黑,Arial, Helvetica, sans-serif; line-height:24px; color:#FFFFFF; right:8px;}
.mybackbox span{ font-size:18px; font-weight:bold; line-height:33px; }
.mybackbox p{ text-align:left; font-size:16px;}

.mybackbox a{ font-size:18px; font-weight:bold; color:#FFFFFF;line-height:38px; }
