

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, -ms-touch-action: none"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>茜茜焕颜祛斑精油-</title>
    <link href="css/public.css" rel="stylesheet" />
    <link href="css/search.css" rel="stylesheet" />
    <link href="css/product.css" rel="stylesheet" />
    <script src="js/name.js"></script>

    <!--导航样式 -->
    <style>
        ._nav{width:100%;height:40px;background:#70b541;border-bottom:solid 2px #fff;}
        ._nav ul{list-style:none;}
        ._nav ul li{float:left;width:25%;text-align:center;font-size:14px;line-height:40px}
        ._nav ul li a{display:block;color:#fff;}
        ._nav ul li a:hover{background:#4e8529;}
        ._top h1{width:100%;overflow:hidden;margin:10px 0px;line-height:50px;}
        ._top h1 span{display:block;width:50%;font-size:20px;float:left;text-align:center;color:#666;}
        ._top h1 span:nth-child(2){color:red;font-size:18px;}
    </style>
    <!--导航样式 -->





</head>


<body>


<div th:replace="layout::kh_title"></div>



<style>
    ._slide{padding-top:1em;}
    ._slide p{font-size:16px;text-indent:2em;color:#666;line-height:25px;margin-bottom:1em;}
</style>



<!--产品信息-->
<div class="_slide">

    <!--<p>
    《绿瘦玉禾胶囊》坚守绿色天然、安全健康的瘦身解决方案。《绿瘦玉禾胶囊》将秉持着专业、真诚、懂你的、值得信赖的服务和态度。《绿瘦玉禾胶囊》作为女人一生的体态管理伙伴，将一生陪伴女人修形、塑美以清晰、稳固的市场影响力伴随女人，永恒追求曲线的美，旨在帮助女人轻松得就能最大回复和维持原有的曲线，永葆自己人生最美时刻的曲线、最大展现自我魅力，让每个女人灵动身姿，让每种美丽都曲线摇曳！
    </p>-->

    <p>


        《茜茜焕颜祛斑精油》根据传承的祛斑秘方，小麦胚芽油、霍霍巴籽油、母菊花油、迷迭香叶油、香橼果油、抗坏血酸棕榈酸酯、薰衣草油等
        减少色素沉着、抑制黑色素生成，调理肤色，保湿、美白、祛斑，使肌肤亮丽，结合现代科技，保留萃取古方中的经典药材，并添加现代科技研制出的祛斑因子，具有温和抑制骆氨酸酶活性作用。真正做到双重双效呵护祛斑、标本兼治，让您科学健康祛斑。

    </p>

    <p>

        《楚颜防脱育发液》老中医的祖传秘方，这个秘方在民间是上千年效果验证；经过了科学改量，医院实验。采用最新科学方法研制而成。成品含有多种育发、护发之微量元素，适用于脂溢性脱发、斑脱、普脱、全脱和脂溢性皮炎等症，具有生发、护发、去屑止痒和美容等独特功效。精制而成，无毒无任何副作用，确保临床用药安全因此好的效果是靠千年秘方和现代医学的结合而来的，是有完全保证的。



    </p>

    <p>
        山东卡么昂电子商务有限公司成立于2016年8月15日，注册资金1000万元整，公司总部在广州，分公司分别设在深圳、贵州和临沂，公司位于临沂市莒南县商业中心甲级写字楼乐尚大厦20、21楼两层，地理位置优越，交通便利。</p>

    <p>山东卡么昂电子商务有限公司在移动互联网的风口，采用移动电商营销模式，不断创造新的传奇。我们团队现共500多人，主要由80后、90后组成，年轻而充满激情，高效又注重细节，并且具备丰富的打造电子商务交易平台的实战经验。公司拥有完整的、专业的运营推广团队和与多类商品厂商合作的经验，已给多家企业及个人带来订单和经济利益。以打造山东一流的电子商务交易平台，成为山东电子商务行业的领导者。</p>

    <!--

    <p>
    山东卡么昂电子商务有限公司是一家集研发、生产、销售为一体的企业，现有员工900余人，占地面积38亩，拥有现代化的生产厂房和国内一流的生产设备以及一批具有高学历和高职称的科研技术人才队伍。公司营销网络遍布国内外，除相继在北京、上海、广州、天津、武汉、西安、哈尔滨、乌鲁木齐等二十多个省会城市建立了连锁机构外，还在美国、墨西哥、西班牙、中东等国家和地区也设立了分公司。企业正在朝着集团化、全球化发展方向昂首阔步前进！
    </p>



    <p>
    山东卡么昂电子商务有限公司是中国第一家以整合营销为主导的营销策划公司，作为中国本土最具穿透力的顶级整合营销策划公司，山东卡么昂电子商务有限公司素以引领实战营销策划与严谨的项目管理著称，为中国顶级的商业品牌提供尖端的营销整体解决方案。山东卡么昂电子商务有限公司全面整合了传统营销和现代营销的专业能力和资源，形成从消费者洞察、内容创意、全渠道应用、全媒体传播和企业销售促进解决方案提供的全价值链盈利模式服务体系，致力于通过线上线下一站式的整合营销服务实现客户商业价值最大化，为客户在移动互联网时代的品牌互联网转型与电商化建设提供更专业的整合营销解决方案。
    </p>

    <p>
    山东卡么昂电子商务有限公司一直秉承"与道通融、方能道法自然"的经营智慧，深入研究人性化营销，从公司成立至今，山东卡么昂电子商务有限公司提供给客户的不是网络平台或框架甚至SEO等，而是经营网络营销格局及思维！我们唯一所做是给企业注入灵魂，因为有"有魂才有核心"，有核心才能实现企业的长远发展！
    </p>

    <p>
    山东卡么昂电子商务有限公司至今已服务国内30多个行业，超过500家企业，在业界获得无数好评，公司先后已成为中国咨询业规模最大、影响最广、服务业绩最佳的互联网营销咨询服务专业机构，是中国整合营销领域价值顶尖品牌。
    山东卡么昂电子商务有限公司以最优质的产品、最有竞争力的价格、最完善的服务满足客户需求是山东卡么昂电子商务有限公司不懈努力的目标，公司会持续以此为奋斗方向，不断开拓创新，为客户、、员工创造最大价值。
    </p> -->




</div>


<footer style="margin-top:100px;border-top:2px solid #666">
    <div class="Copyright" style="text-size:18px;">
        <p><script>document.write(banquan);document.write(name);</script></p>
        <p><a href='http://www.miitbeian.gov.cn/'>鲁ICP备17040548号</a>
        </p>
        <p><script>document.write(address);</script></p>
    </div>
</footer>


</body>

<script type="text/javascript">
    $(function () {
        $('.swiper-slide > div').hide().eq(0).show()
        var current = $(".tabs span").eq(0).addClass("active")
        $(".tabs span").each(function (i) {
            $(this).click(function () {
                $(".swiper-slide > div").hide().eq(i).show();
                current.removeClass("active");
                current = $(this);
                current.addClass("active")
            })
        })
    })
</script>

<script>
    $("#_product_guige").on("click", function () {
        if ($("#_product_guige_select").css("display") == "none") {
            $("#_product_guige_select").show();
            $("#_product_em").removeClass("down").addClass("down");
        }
        else {
            $("#_product_guige_select").hide();
            $("#_product_em").removeClass("down");
        }
    });
    $("#_product_em").on("click", function () {
        if ($("#_product_guige_select").css("display") == "none") {
            $("#_product_guige_select").show();
            $("#_product_em").removeClass("down").addClass("down");
        }
        else {
            $("#_product_guige_select").hide();
            $("#_product_em").removeClass("down");
        }
    });
</script>
</html>


