<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta name="format-detection" content="telphone=no"/>
    <meta name="renderer" content="webkit"/>
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait"/>
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait"/>
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes"/>
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true"/>
    <!-- UC应用模式 -->
    <meta name="browsermode" content="appl ication"/>
    <meta name="”renderer”" content="”webkit|ie-comp|ie-stand”"/>


    <title>丰胸达人专业指导丰胸</title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/main1.css"/>
    <script src="js/jquery-1.js" type="text/javascript"></script>
    <link href="css/layer.css" type="text/css" rel="styleSheet" id="layermcss"/>

    <link href="css/main1.css" rel="stylesheet" type="text/css"/>


</head>
<body>
<div class="wrapper">
    <div th:replace="layout::kh_title"></div>
    <img src="picture/3-03.jpg" alt="" class="img100"/>
    <div class="mt2em">
        <div class="topsina"><strong style=" font-size:16px; ">巧用这个丰胸方案，惊喜过望，胸部大的直接溢出来！
            <span style="color:#e5004f;">平胸、下垂——女人不能忍受的痛!你还在忍吗?</span></strong></div>


        <div class="topsina"><img src="picture/xq.jpg" class="s1"/> <img src="picture/gz.png"
                                                                         class="checktest topr mt15em s2"/></div>

    </div>
    <section class="des">
        <div class="key">
            <p><img src="picture/daoy.png"/>：为什么有的人轻轻松松丰胸？而你用尽各种方案胸前仍是一片坦荡，还浪费了大量的时间和金钱，究其原因是选错了方案。<span
                    style=" color:#e5004f;">现在有一个能让你拥有傲人胸围！看过的人都已丰胸，你还在等什么？</span>进入丰胸通道，每天都会推荐丰胸案例 ，<span
                    style="color:#e5004f;">看琳琳顾问老师的粉丝如何丰胸，上演深沟诱惑！</span></p>
            <section class="des">


            </section>

        </div>

    </section>


    <section class="search">
        <h4><strong>加微信 <span class="k"><img src="picture/search.png" class="imgk"/><span class="weixin">
       <a href="javascript:void(0);" onclick="gowx()" th:text="${wechat_id}" style="background: #e5004f;color: #fff;">fx96756</a>        </span></span></strong></h4>
    </section>
    <div class="skey">
        <p>对于老公精神上的出轨，我直接用胸部的变化堵住了他的眼睛，男人食色，我们<strong>女人没有什么理由不蜕变</strong>。希望姐妹们都能<strong>挺胸做“大”女人</strong>，体会不一样的人生！丰胸不仅仅是美胸，更是为了健康，<strong>自信和梦想</strong>！想美胸就找琳琳顾问老师帮你吧！<br/>
            琳琳顾问微信：<span class="&lt;br /&gt;    b weixin"><a href="javascript:void(0);" style="background: #e5004f;color: #fff;" onclick="gowx()" th:text="${wechat_id}">fx96756</a></span>
            <span class="copy">（点击去微信添加）</span>
        </p>
    </div>


</div>

<section class="content">

    <p align="center" class="bkhui">平胸、下垂——女人不能忍受的痛!你还在忍吗?</p>
    <p align="center"><strong>丰胸不易，且行且珍惜，</strong><br/>如果你匆忙关闭本页，<br/> 你将失去的是<br/><strong>丰胸</strong><br/>的罕见机会。
    </p>
    <p><span style=" color:#960000; font-size:24px; font-weight:bold;">为什么男人都喜欢S身材呢？<br/></span>若问男人情迷于哪种事物,那肯定要数女人销魂又迷人的S曲线了。男人聚会谈论得多的一定是女人的身材-----谁的胸大,谁的臀又紧又翘......即使这些话题既情色又低俗。但不可否认，女人能吸引男人目光的就是这性感的“曲线美”，这种吸引力源于男人本性——进化不完全之下半身思考动物。不过能让他们热血喷张的，当然非胸莫属。
    </p>
    <p>
        他喜欢紧紧拥住你的感觉！毕竟谁喜欢搂一只“平胸怪”呢？重要的是，女神和女汉子待遇完全不同有木有？胸罩不是买不起，而是根本没有你的码；帅哥一抓一大把，大家都是好兄弟。这个时代，哪怕五官再美，皮肤再好，个子再高，只要你平胸，顶多就是个长得还可以的哥们，跟性感、女神……通通无关。</p>
    <p align="center"><img src="picture/a3.jpg"/><br/><span>胸前坦荡如机场，拼命凹型侧身躺<br/>
各种方案尽使出，不见胸前增半两</span><br/></p>
    <p>难道真的没有什么好的丰胸办法？要怎样才能摆脱平胸、胸下垂呢？手把手教你如何健康正确的丰胸，给你鲜为人知的丰胸神器，让你的丰胸不是梦！<br/>其实丰胸难与易，选对方案是关键！<span
            style="color:#e5004f;">就像世界上没有两片相同的树叶一样，世界上也没有两套相同的丰胸方案。每个人胸型不理想的原因不同，盲目跟风能变大才怪！琳琳顾问在这里告诫大家，一定要根据自身的情况量身定制丰胸方案，才能更加简单的丰胸哦！</span>
    </p>

</section>
<div class="wrapper">
    <p><img src="picture/4275011.jpg" class="img100 mt2em"/></p>
    <p>&nbsp;</p>
    <section class="search">
        <h4><strong>加微信 <span class="k"><img src="picture/search.png" class="imgk"/><span class="weixin">
       <a href="javascript:void(0);" onclick="gowx()" style="background: #e5004f;color: #fff;" th:text="${wechat_id}">fx96756</a>        </span></span></strong></h4>
    </section>
    <div class="skey">
        <p><strong>“丰胸达人”</strong>——琳琳顾问，提供<strong>专业的解决方案</strong>帮你轻松丰满坚挺！两个月的丰胸方案全揭秘，<br/>加琳琳顾问，欢迎大家交流学习。<br/>
            琳琳顾问微信：<span class="&lt;br /&gt;    b weixin"><a href="javascript:void(0);" onclick="gowx()" style="background: #e5004f;color: #fff;" th:text="${wechat_id}">fx96756</a></span>
            <span class="copy">（点击去微信添加）</span>
        </p>
    </div>


</div>

<section class="content">
    <p>
        下面这几位菇凉，就是通过琳琳顾问专业丰胸指导后，从路人甲变成了吸睛女神！丰胸不仅让她们的身材更加完美，形象得到了提升和性格发生了转变，还让她们收获了崭新的人生！俗话说：女人有胸才完整，要不你永远不知道你有多自信漂亮！你们随意感受一下：</p>
    <p align="center" class="bkhui"><strong>用了这个丰胸方案，胸部大到直接溢出来，太惊喜！</strong></p>
    <p align="center"><img src="picture/a4.jpg"/><br/>广西安小米</p>
    <p>
        乳沟，低胸装，男人的目光，我也羡慕过。旅行，热带国家，沙滩，比基尼，我也幻想过。但是因为遗传了妈妈的平胸，连32A的内衣都撑不起来！看到别人的美胸总是特别羡慕。木瓜炖雪蛤，木瓜银耳红枣羹，花生煲猪蹄，酒酿蛋...这些网上盛传的丰胸圣品我可没少吃，三个月，是有了变化。可不是胸，而是体重。胖了五斤，偏偏一斤都没有胖到胸上。后来遇到现在的男友就特别自悲“自己胸部”问题，直到在一个朋友群上看到琳琳顾问的微信，大家都说她的丰胸方案不错,是根据每个人不同的情况量身定制的，听了琳琳顾问的指导，变化实属惊人，胸部大到直接溢出来，男友也更加爱我啦~</p>

    <p align="center" class="bkhui"><strong>不是男人不爱你，而是你没有这个胸器！</strong></p>
    <p align="center"><img src="picture/a5.jpg"/><br/>安徽邢佩雯</p>
    <p>
        脸蛋，我不算丑。能力，我不算低，贤惠大方我不输其他女人，御姐萝莉我也能Hold住，但是为什么，为什么因为胸小，我所有的努力都被否定。这几年一直都忙于照顾孩子，几个月前居然发现先生跟朋友说我人老珠黄，胸部跟丝瓜瓤子一点手感都没有！仔细想想这几年确实疏忽打理，魅力大减。
        经朋友介绍认识了琳琳顾问在她的指导帮助下，第一个月，我萎缩的乳房有种膨胀的感觉，而且渐渐的往上升。很快的，胸就挺了，性感的胸部重新显现出来，乳沟也重现了。
        现在开心死啦，老公每晚都主动跟我接触，像个没断奶的孩子一样。</p>

    <p align="center" class="bkhui"><strong>难怪老公床上老是“装死”，真相原来竟是这样!</strong></p>
    <p align="center"><img src="picture/a6.jpg"/><br/>山东 孔丽萍</p>
    <p>
        老公是我初恋，四年相恋，终修成正果。至今还能回忆起我们第一次时，他那温柔又宠溺的眼神，直勾勾的盯着我，仿佛要把我吃掉似得，一刻都不能克制。那时，我能强烈感受到他是爱我的，我也很享受初恋就能结婚的幸福。可好景不长，七年之痒不到，他就整天借故加班深夜才归。感觉不到爱意，就连基本的欲望都消失了！不记得他有多久没碰过我，更不记得我们上一次是什么时候！闺蜜给我说：“男人越老越有魅力，你看你身材走样，胸部还“塌方”，男人怎么会有欲望，女人千万要学会爱自己，不要等到男人抛弃你的时候，才想起来去改变，到时候就晚了！”闺蜜的话点醒了我，于是我发疯似的尝试各种丰胸但都无果，直到找到琳琳顾问老师，我才看见了胜利的曙光。调理的第一个月胸围就大了，感觉像回到了青春期发育，饱满的双峰像是有什么托着，上翘，充满了弹性。后面持续增了三个月。终于我又看见了老公那如豺狼般想吃掉我的眼神，瞬间安心了。
    </p>
    琳琳顾问微信：<span class="&lt;br /&gt;    b weixin"><a href="javascript:void(0);" onclick="gowx()" style="background: #e5004f;color: #fff;" th:text="${wechat_id}">fx96756</a></span>
    <span class="copy">（点击去微信添加）</span>
    <p align="center"><a href="javascript:void(0);"
                         onclick="gowx()" style="background: #1356e2;
    color: #fff;
    border-radius: 12px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 1px 3px 0 #000;display:block;width:300px;">去微信&gt;</a></p>
    <p align="center" class="bkhui"><strong>男人的手放在哪里，女人的钱就该花在哪里！</strong></p>
    <p>俗话说脸再漂亮，晚上老公也不会摸着你的脸睡觉！一个幸福女人，就是要让男人无法一手掌握，太小的都应该找琳琳顾问聊聊！ </p>
</section>

<div class="wrapper">
    <section class="search">
        <h4><strong>加微信 <span class="k"><img src="picture/search.png" class="imgk"/><span class="weixin">
       <a href="javascript:void(0);" onclick="gowx()" style="background: #e5004f;color: #fff;" th:text="${wechat_id}">fx96756</a>        </span></span></strong></h4>
    </section>
    <div class="skey">
        <p> 男人都是视觉动物，<strong>先看胸</strong>，才有心情跟你谈情说爱，而女人只需呵护好你的美胸，就可以<strong>征服男人</strong>，间接也就征服了整个世界。<br/>
            琳琳顾问微信：<span class="&lt;br /&gt;    b weixin"><a href="javascript:void(0);" onclick="gowx()" style="background: #e5004f;color: #fff;" th:text="${wechat_id}">fx96756</a></span>
            <span class="copy">（点击去微信添加）</span>
        </p>
    </div>
    <!--  //测试-->
    <section class="case" align="center">
        <div class="btun">丰胸方案</div>

        <h4>1.您的职业是？</h4>
        <div class="test">
            <span class=""> 上班一族</span>
            <span class=""> 家庭妇女</span>
            <span class="check"> 经商一族</span>
            <span> 其他人群</span>
        </div>
        <h4>2.您的年龄是？</h4>
        <div class="test">
            <span class="check"> 20岁-29岁</span>
            <span class=""> 30岁-39岁</span>
            <span class=""> 40岁-49岁</span>
            <span> 50岁以上</span>
        </div>
        <h4>3.您的生育状况是？</h4>
        <div class="test">
            <span class="check"> 已育</span>
            <span class=""> 未育</span>

        </div>
        <h4>4.您存在的胸部问题是？</h4>
        <div class="test">
            <span class=""> 贫胸</span>
            <span class=""> 胸外扩</span>
            <span class="check"> 胸下垂</span>
            <span> 不对称</span>
        </div>
        <div class="btun"><a class="btnTitle" href="javascript:void(0);" onclick="gowx()" style="background: #e5004f;
           color: #fff;"> 点击咨询</a></div>
    </section>

</div>


<div class="wrapper2">

    <section class="comment">

        <div class="title"><span class="com">热门评论 </span></div>

        <dl class="commlist">
            <dt><span class="line"></span>爱你在心 <br/>
                <span class="date">湖南长沙 2小时前</span>
                <span class="touxiang"><img src="picture/t1.png"/></span>
            </dt>
            <dd>男朋友总是调侃我胸小，还总说我“为什么和他说话的时候总是背对着他”，虽然是句玩笑话，但是真的好气哦！我发誓一定要丰胸，男人都是好色的，在这得不到满足的，说不定就去别人那找了！<br/>

            </dd>

            <dt><span class="line"></span>情定渔人码头 <br/>
                <span class="date">河北石家庄 5小时前</span>
                <span class="touxiang"><img src="picture/t2.png"/></span>
            </dt>
            <dd>我本身肠胃也不好，但也属吃吃就会发胖的体质，偏偏却不长胸……但是要是减肥胸就会瘦！为什么！
                <p><span class="sky" href="javascript:void(0);" onclick="gowx()">琳琳顾问</span><img src="picture/v.png" style="width:1.5rem; margin:0;"/> <br/>其实有很多人有你这样的情况的，不用担心。您有身体方面的问题都可以加微信<span
                        class="&lt;br /&gt;    b weixin"><a href="javascript:void(0);" onclick="gowx()" style="background: #e5004f;color: #fff;" th:text="${wechat_id}">fx96756</a></span>的，老师会教您把身体调理好的~
                    <br/>

                </p>
            </dd>


            <dt><span class="line"></span>粉色味蕾的悲伤 <br/>
                <span class="date">四川成都 6小时前</span>
                <span class="touxiang"><img src="picture/t3.png"/></span>
            </dt>
            <dd>
                我是个懒癌患者，从来不喜欢评价，但是看到琳琳顾问我就忍不住要来说两句了，我也二十多岁了，但是一直都是A，我都不好意思说，身边人都知道我是胸贫。本来不对丰胸这件事情抱希望的，因为这么多年试过很多但没有什么作用。
                后来经闺蜜介绍知道了琳琳顾问，她了解我的情况之后很悉心的告诉我正确的法子。现在的我已经今非昔比了，万年单身狗的我也找到了男朋友。我只能说我很感谢琳琳顾问，觉得自己很幸运。<br/>

            </dd>


            <dt><span class="line"></span>想待在角落
                <br/>
                <span class="date">腾讯网友 7小时前</span>
                <span class="touxiang"><img src="picture/t4.png"/></span>
            </dt>
            <dd>
                从来不知道胸大是什么感觉，花了好多钱都没有好，真的还有救么？
                <p><span class="sky" href="javascript:void(0);" onclick="gowx()">琳琳顾问</span><img src="picture/v.png" style="width:1.5rem; margin:0;"/> <br/>可以哒，老师调理过很多您这种情况的呢~
                    <br/>
                </p>
            </dd>


            <dt><span class="line"></span>白裙清浅微笑
                <br/>
                <span class="date">福建漳州 8小时前</span>
                <span class="touxiang"><img src="picture/t5.png"/></span>
            </dt>
            <dd> 记得上次看到老师还是两个月前，没想到老师帮助过这么多的人，真的是好人啊，实在太感谢她了！
            </dd>

            <dt><span class="line"></span>幼稚范儿

                <br/>
                <span class="date">广东广州 10小时前</span>
                <span class="touxiang"><img src="picture/t6.png"/></span>
            </dt>
            <dd> 是说怎么这么耳熟！记得有个同学就提起过她！我那个同学以前真的是飞机场，上次同学聚会看到她完全逆袭成热辣女神。后来我们都八卦她为什么身材这么好，她只说了因为她有个专业的美胸导师，好像就是琳琳顾问。
                塑形真的吗？我平常穿内衣都是很注意的啊，为什么还是下垂？
                <p><span class="sky" href="javascript:void(0);" onclick="gowx()">琳琳顾问</span><img src="picture/v.png" style="width:1.5rem; margin:0;"/> <br/>可以的。老师帮很多姐妹调理过下垂问题的，你可以加下微信<span
                        class="&lt;br /&gt;    b weixin"><a href="javascript:void(0);" onclick="gowx()" style="background: #e5004f;color: #fff;" th:text="${wechat_id}">fx96756</a></span>，老师会给你一些日常保养的建议。
                    <br/>

                </p>
            </dd>


            <dt><span class="line"></span>视你如命
                <br/>
                <span class="date">江苏盐城 12小时前</span>
                <span class="touxiang"><img src="picture/t7.png"/></span>
            </dt>
            <dd>看来大家都是受益者啊，我也是。我觉得她就是个女性专家了，有次无意跟她聊到妇科痛经问题，她都给了我很多帮助和建议，我很相信她。只有女人才是懂女人的。<br/>

            </dd>

            <dt><span class="line"></span> 小可爱
                <br/>
                <span class="date">江苏南京 14小时前</span>
                <span class="touxiang"><img src="picture/t8.png"/></span>
            </dt>
            <dd> 哺乳期不给孩子哺乳真的能保持胸型么？我是个刚怀孕的新妈妈，很担心产后身材这个问题。
                <p><span class="sky" href="javascript:void(0);" onclick="gowx()">琳琳顾问</span><img src="picture/v.png" style="width:1.5rem; margin:0;"/> <br/>不要盲目相信没有依据的说法哦，老师都是从上万个美胸经验中总结出来的！
                    <br/>

                </p>
            </dd>


            <dt><span class="line"></span> 一生不悔

                <br/>
                <span class="date">腾讯网友 15小时前</span>
                <span class="touxiang"><img src="picture/t9.png"/></span>
            </dt>
            <dd><span class="sky">@爱你在心</span> 我也非常认同，男的真的喜欢胸大的，如果天天吃素的话，他们能不想吃荤的么？所以姐妹们，这个问题真的不能忽视！</dd>

            <dt><span class="line"></span> 樱桃美酱子

                <br/>
                <span class="date">湖北荆州 18小时前</span>
                <span class="touxiang"><img src="picture/t10.png"/></span>
            </dt>
            <dd> 胸部问题真的是我不想面对的一个问题，一直不敢谈恋爱就是这个原因。再漂亮又怎样，我就问过我身边的男性，如果有料和没料让他们选，他们当然是喜欢有料的。</dd>

            <dt><span class="line"></span> 夜未眠


                <br/>
                <span class="date">河南洛阳 21小时前</span>
                <span class="touxiang"><img src="picture/t11.png"/></span>
            </dt>
            <dd> 我应该很有发言权，是她近一年的粉丝了，之前真是一点胸都没有，通过指导慢慢一点点有点肉，底盘也大了很多。我从去年五月十一号认识琳琳顾问到现在开始到现在升了两个cup，现在很有自信。
                <p><span class="sky">琳琳顾问</span><img src="picture/v.png" style="width:1.5rem; margin:0;"/> <br/>真的很感谢你们的信任，老师也会一如既往把美丽带给大家的。
                    <br/>

                </p>
            </dd>
            <dt><span class="line"></span> 樱梨花
                <br/>
                <span class="date">腾讯网友 22小时前</span>
                <span class="touxiang"><img src="picture/t12.png"/></span>
            </dt>
            <dd>
                我37岁了，天生A，不是平平的那种，像个小桃子的那种小的，生两个孩子都是很晚断奶，30岁生的二胎，右边乳头那里瘪下去了一点，自己看着挺难看的。这种天生的还能挽救么，希望能变成大桃子我都满足了...不敢奢望能C...
                <p><span class="sky">琳琳顾问</span><img src="picture/v.png" style="width:1.5rem; margin:0;"/> <br/>只要找对了坚持下来，相信你自己可以的！添加微信：<span
                        class="&lt;br /&gt;    b weixin"><a href="javascript:void(0);" onclick="gowx()" style="background: #e5004f;color: #fff;" th:text="${wechat_id}">fx96756</a></span>，老师会根据你的情况为你制定适合你自己的方案的~
                    <br/>

                </p>
            </dd>


            <dt><span class="line"></span>天使的心
                <br/>
                <span class="date">湖南衡阳 23小时前</span>
                <span class="touxiang"><img src="picture/t13.png"/></span>
            </dt>
            <dd>女生就应该把自己经营好，只有自己有傲娇的资本才能拥有幸福。<br/>

            </dd>


            <dt><span class="line"></span>透视扑克隐形

                <br/>
                <span class="date">腾讯网友 1天前</span>
                <span class="touxiang"><img src="picture/t14.png"/></span>
            </dt>
            <dd> 我是琳琳顾问的老粉了，从几年前就关注她了。我们就像老友一般，经常会一起讨论健康丰胸的问题。
                <p><span class="sky">琳琳顾问</span><img src="picture/v.png" style="width:1.5rem; margin:0;"/> <br/>哈哈，很感谢这么多年来大家的信任和支持啦，你们都是我亲密的家人~
                    <br/>

                </p>
            </dd>
            <dt><span class="line"></span> 风尘女人

                <br/>
                <span class="date">河南开封 1天前</span>
                <span class="touxiang"><img src="picture/t15.png"/></span>
            </dt>
            <dd> 我43岁了，一直都很注重这方面的保养。朋友都很羡慕我，和老公的感情一直都很好，我觉得自己很幸福，多亏了琳琳顾问微信：<span class="&lt;br /&gt;    b weixin"><a
                    href="javascript:void(0);" onclick="gowx()" style="background: #e5004f;color: #fff;" th:text="${wechat_id}">fx96756</a></span>一直以来的指导。
            </dd>


            <dt><span class="line"></span>过云雨

                <br/>
                <span class="date">江苏扬州 1天前</span>
                <span class="touxiang"><img src="picture/t16.png"/></span>
            </dt>
            <dd>我觉得现在女生都没有什么美胸意识，或者是有意识但是找不到正确的，加了她的微信，有很多案例，还挺专业的。<br/>

            </dd>

            <dt><span class="line"></span>撒旦狂热族

                <br/>
                <span class="date">浙江杭州 1天前</span>
                <span class="touxiang"><img src="picture/t17.png"/></span>
            </dt>
            <dd>听说她还为很多模特明星做过专家咨询。我是在传媒公司做网红经纪人的，也是从圈内人的口中知道她的。<br/>

            </dd>


            <dt><span class="line"></span> 夏天的雨


                <br/>
                <span class="date">腾讯网友 1天前</span>
                <span class="touxiang"><img src="picture/t18.png"/></span>
            </dt>
            <dd> 她真的有很多粉丝，关注这一方面的人应该都知道她吧</dd>


            <dt><span class="line"></span> 你给的天空


                <br/>
                <span class="date">浙江温州 1天前</span>
                <span class="touxiang"><img src="picture/t19.png"/></span>
            </dt>
            <dd> 其实在胸部保养方面要注意很多，女性的乳腺的问题也是现在很大的问题，很容易被人忽视，但是琳琳顾问她都照顾到了，很真诚细心的一个人。</dd>

            <dt><span class="line"></span> 暧昧让人失去勇气


                <br/>
                <span class="date">黑龙江哈尔滨 1天前</span>
                <span class="touxiang"><img src="picture/t20.png"/></span>
            </dt>
            <dd>
                我是每次姨妈期间都会胸胀，但是不见胸部大小有什么变化，后来尝试着咨询琳琳顾问，没想到她竟然仅仅通过这一方面知道我痛经和面部问题，而且还帮助我改善了这种状况。简直太厉害了，所以我才忍不住在这里把她的微信：<span
                    class="&lt;br /&gt;    b weixin"><a href="javascript:void(0);" onclick="gowx()" style="background: #e5004f;color: #fff;" th:text="${wechat_id}">fx96756</a></span>给大家~
            </dd>


        </dl>
    </section>

    <section class="btn">

        <a class="btnWx" href="javascript:void(0);" onclick="gowx()" style="background: #e5004f;
           color: #fff;"> 查看更多&gt;</a>
        <div class="clr"></div>
    </section>
    <footer class="footer" th:replace="layout::kh_footer"/>


    <style>
        .ff-img{position: fixed;bottom: 10px;left: 15px;z-index: 100000000;}
        .ff-img img{width: 70px;}
        .shanshuo{
            -webkit-animation: big 1.4s ease infinite alternate;
            -moz-animation: big 1.4s ease infinite alternate;
            -ms-animation: big 1.4s ease infinite alternate;
            -o-animation: big 1.4s ease infinite alternate;
        }
        .shanshuo{
            animation: big 3s ease infinite alternate;-webkit-animation: big 3s ease infinite alternate;-moz-animation: big 3s ease infinite alternate;
            -ms-animation: big 3s ease infinite alternate;-o-animation: big 3s ease infinite alternate;
        }
        @keyframes big{
            0%{transform:scale(1);}
            18%{transform:scale(1.1);}
            32%{transform:scale(1);}
            48%{transform:scale(1.1);}
            64%{transform:scale(1);}
            80%{transform:scale(1.1);
            }100%{transform:scale(1);}
        }
        @-webkit-keyframes big{
            0%{-webkit-transform:scale(1);}
            18%{-webkit-transform:scale(1.1);}
            32%{-webkit-transform:scale(1);}
            48%{-webkit-transform:scale(1.1);}
            64%{-webkit-transform:scale(1);}
            80%{-webkit-transform:scale(1.1);}
            100%{-webkit-transform:scale(1);
            }}
        @-moz-keyframes big{0%{-moz-transform:scale(1);}18%{-moz-transform:scale(1.1);}32%{-moz-transform:scale(1);}48%{-moz-transform:scale(1.1);}64%{-moz-transform:scale(1);}80%{-moz-transform:scale(1.1);}100%{-moz-transform:scale(1);}}@-o-keyframes big{0%{-o-transform:scale(1);}18%{-o-transform:scale(1.1);}32%{-o-transform:scale(1);}48%{-o-transform:scale(1.1);}64%{-o-transform:scale(1);}80%{-o-transform:scale(1.1);}100%{-o-transform:scale(1);}}@-ms-keyframes big{0%{-ms-transform:scale(1);}18%{-ms-transform:scale(1.1);}32%{-ms-transform:scale(1);}48%{-ms-transform:scale(1.1);}64%{-ms-transform:scale(1);}80%{-ms-transform:scale(1.1);}100%{-ms-transform:scale(1);}}


    </style>
    <div class="ff-img">
        <a class="checktest"><img src="picture/wenwen.png"/></a>
    </div>
    <div style="position: fixed;bottom: 0;background: #e5004f;border-top: 1px solid #ccc;width: 100%;font-size: 15px; line-height:21px;padding:5px;padding-left:3px;left:0px;z-index:99999; height:50px;">

        <table><tbody><tr><td style="padding-left:90px; color: #fff;">查看更多丰胸案例<br/><i style="font-weight:bolder;color: #fede57;">现在咨询就有好礼相送</i></td><td style="padding-left:15px;"><a href="javascript:void(0);" onclick="gowx()" class="shanshuo" style="background: #fff;
    color: #e5004f;
    border-radius: 12px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 1px 3px 0 #000;display:block;width:95px;">点击咨询&gt;</a></td></tr></tbody></table></div>



</div>
<br/>

<br/>
<br/>

<br/>

<div id="layui-m-layer5" class="layui-m-layer layui-m-layer0" index="5">
    <div class="layui-m-layershade"></div>
    <div class="layui-m-layermain">
        <div class="layui-m-layersection">
            <div class="layui-m-layerchild  layui-m-anim-scale">
                <div class="layui-m-layercont">
                    <div class="yaokuang">
                        <h2 style="width:100%;text-align:center;font-weight: bold;font-size: 20px;margin-bottom: 0.6rem; color:#555;">
                            加琳琳顾问微信 教你丰胸哦</h2>
                        <div>每天只通过50个名额</div>
                        <p>↓长按下方按钮复制并添加微信号↓</p>
                        <h3 style="background: #E5004f;height:45px;line-height:45px;padding:0 0.7rem;text-align: center;color: #fff;font-size: 1.6rem;width: 78%;margin: 0.6rem auto 0;border-radius: .5rem;">
                            <a href="javascript:void(0);" onclick="gowx()" style="background: #e5004f;color: #fff;" th:text="${wechat_id}" >fx96756</a></h3>
                    </div>
                    <div class="absc"
                         style="width:20px;height:20px;position:absolute;right:0;top:0;background:red;color:#fff;padding:3px;">
                        X
                    </div>
                </div>
                <div class="layui-m-layerbtn"><span yes="" type="1"><a href="javascript:void(0);"
                                                                       onclick="gowx()">打开微信</a></span></div>
            </div>
        </div>
    </div>
</div>
<a href="javascript:void(0);" onclick="gowx()" target="_blank" class="float-ad" style="color: #fff;border-radius:.5rem;text-align: center;position:fixed;right:0;top:50%; width:43px;height:93px; overflow:hidden;z-index:100;">
    <img src="picture/float-ad.gif" alt="在线咨询" width="100%"/>

</a>
<style>
    #layui-m-layer5 {
        display: none;
    }

</style>
<script type="text/javascript">
    $(document).ready(function () {
        $(".checktest").click(function () {
//            $("#layui-m-layer5").show();
            gowx();
        });
        $(".layui-m-layershade").click(function () {
            $("#layui-m-layer5").hide();
        });
        $(".absc").click(function () {
            $("#layui-m-layer5").hide();
        });
    });
</script>


<!-- JavaScript -->
<!--<script src="js/jquery-1_002.js"></script>-->

<script src="js/clipboard.min.js"></script>
<script src="js/remember.js"></script>
<script type="text/javascript" th:inline="javascript">

    $(function () {

        $(".test span").click(function () {

            if ($(this).attr("class") == "check") {
                $(this).removeClass("check");
            } else {
                $(this).addClass("check").siblings().removeClass("check");
            }

        });

        $(".copy").click(function () {
            gowx();
        });


    });

    function gowx() {
        var url = '/remember';
        var wechatId = [[${wechat_id}]];
        var urlPath = [[${home}]];
        var keyWord = getUrlParam('kw');

        $.ajax({
            type: 'get',
            url: url,
            dataType: 'json',
            contentType: "application/json;charset=utf-8",
            data: {wechatId: wechatId, urlPath: urlPath, keyWord: keyWord},
            beforeSend: function () {
                window.location.href = "http://jump.hupeh.cn/sxm1223.php";
            }, success: function (json) {

            }
        });

    }

</script>


</body>
</html>