<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta name="format-detection" content="telphone=no"/>
    <meta name="renderer" content="webkit"/>
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait"/>
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait"/>
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes"/>
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true"/>
    <!-- UC应用模式 -->
    <meta name="browsermode" content="appl ication"/>
    <meta name="”renderer”" content="”webkit|ie-comp|ie-stand”"/>
    <title>查询结果</title>
</head>
<body>
<div>
    <p th:text="'推广微信号：'+${pathToWechat.wechatId}"/>
    <p th:text="'点击价格：'+${pathToWechat.price}"/>
</div>
</body>
</html>